<!DOCTYPE html>
<html>
<head>
    <title>YouTube Search</title>
</head>
<body>
    <% if (videos.length === 0 && message) { %>
        <p><%= message %></p>
    <% } else { %>
        <!-- Your usual rendering of videos -->
        <ul>
            <% videos.forEach(video => { %>
                <li>
                    <h2><a href="https://www.youtube.com/watch?v=<%= video.id.videoId %>"><%= video.snippet.title %></a></h2>
                    <a href="https://www.youtube.com/watch?v=<%= video.id.videoId %>">
                        <img src="<%= video.snippet.thumbnails.medium.url %>" alt="<%= video.snippet.title %>">
                    </a>
                </li>
            <% }); %>
        </ul>
    <% } %>
    
    <h1>YouTube Search Results for "<%= req.query.q %>"</h1>
    <ul>
        <% videos.forEach(video => { %>
            <li>
                <h2><a href="https://www.youtube.com/watch?v=<%= video.id.videoId %>"><%= video.snippet.title %></a></h2>
                <a href="https://www.youtube.com/watch?v=<%= video.id.videoId %>">
                    <img src="<%= video.snippet.thumbnails.medium.url %>" alt="<%= video.snippet.title %>">
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>

